body {
    /* image for background */
    /* background-image: url('../images/pexels-element-digital-1370295_bookstore.jpg'); */
    background-image: url('../images/swirl_pattern.png');

    /* font parameters */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
} 

.error {
    background-color:#f2bdbd;
}
.errormsg {
    color: #f2bdbd;
}